/* global ---------------------------------
variables, header, defboxes, etc... */

:root {
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --surface: #313244;
    --overlay: #6c7086;
    --subtext: #a6adc8;
    --text: #cdd6f4;
    --sky: #89dceb;
    --blue: #89b4fa;
    --teal: #94e2d5;
    --red: #f38ba8;
}

::selection {
    background-color: var(--sky);
    color: var(--mantle);
}

#definition-box {
    background: var(--mantle);
    color: var(--text);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--sky);
    /* putting it where it belongs (in a good way) */
    transform: translate(calc(var(--x) * 1px + 1em), calc(var(--y) * 1px + 1em));
    transition: transform 200ms linear, opacity 1s ease-in-out;
}

#definition-box:not(.active) {
    opacity: 0;
}

body {
    background: var(--base);
    color: var(--text);
    width: 45rem;
    padding: 1rem;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

#header {
    overflow: hidden;
    padding: 20px 10px;
    margin: 0 auto;
    height: 4rem;
    position: relative;
}

#header svg {
    width: 1.4rem;
}

#headerRight {
    float: right;
}

#content {
    display: flex;
}

#buttons {
    margin: auto;
}

#footer {
    position: absolute;
    bottom: 100;
    width: 45rem;
    height: 2.5rem;
    border-top: dashed 2px var(--subtext);
    text-align: right;
    padding: 1rem;
}

u {
    text-decoration:none;
    border-bottom:1px solid var(--sky);
  }

/* index styles ------------------------------ 
this is a lot but if it's any less it sucks */
.ttsButton {
    align-items: center;
    background-image: linear-gradient(144deg, var(--sky), var(--teal) 50%, var(--blue));
    box-shadow: var(--crust) 0px 3px 6px;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    color: var(--subtext);
    display: inline-block;
    font-size: 1.5rem;
    justify-content: center;
    line-height: 1rem;
    width: 20rem;
    height:20rem;
    max-width: 100%;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

/* span.text {
    color: var(--overlay);
} */

.ttsButton:active,
.ttsButton:hover {
    outline: 0;
    color: var(--mantle);
}

.spanner {
    display: grid;
    background-color: var(--mantle);
    padding: 16px 24px;
    border-radius: 6px;
    width: 16.6rem;
    height: 17.6rem;
    transition: 300ms;
}

.spanner:hover {
    background: none;
}

/* tts styles --------------------------------
this one's a bit better than the last mess */
textarea {
    background: var(--mantle);
    color: var(--text);
    border-radius: 10px;
    padding:0.5rem;
    resize: none;
    outline: none;
    border: 2px solid var(--overlay);
    transition: 300ms;
}

.input:focus {
    border: 2px solid var(--teal);
    outline: none;
}

#textButtons {
    padding-top: 1em;
    /* text-align: right; */
    display: flex;
    width:46.4rem;
    flex-direction:row;
    align-items:start;
}

#textButtons button {
    background: var(--mantle);
    color: var(--text);
    border-radius:5px;
    box-shadow: var(--crust) 0px 3px 6px;
    box-sizing: border-box;
    /* nobody is going to notice a gradient at this size */
    border: 2px solid var(--sky);
    transition: 300ms;
    height: 2em;
    display:block;
    cursor: pointer;
}

#textButtons button.back {
    margin-left: auto;
}

#textButtons button:hover {
    color: var(--mantle);
    background: var(--sky);
}

/* vts styles -----------------------------
i think i got how to style down by now... */

label.FAKEbutton {
    /* feel free to make this match the other button's gradient.
    i'm not going to because i don't Want To */
    background: var(--mantle);
    color: var(--overlay);
    border-radius:10px;
    padding:0.5rem;
    border: 2px solid var(--overlay);
    width:45.1rem;
    height:9.1rem;
    display:flex;
    transition: 300ms;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

label.FAKEbutton:hover {
    color:var(--sky);
    border-color: var(--sky);
}
